DISCORD_TOKEN=your-bot-token
DISCORD_CLIENT_ID=your-application-id
DISCORD_GUILD_ID=your-test-guild-id
MERCADO_PAGO_ACCESS_TOKEN=token
MERCADO_PAGO_WEBHOOK_URL=webhook
MERCADO_PAGO_PURCHASE_ROLE_ID=1486372271160557678
MERCADO_PAGO_NOTIFICATION_CHANNEL_ID=1487287630797209661