# Configure o token e opcionalmente o prefixo antes de iniciar
DISCORD_TOKEN=
COMMAND_PREFIX=!
HELP_COMMANDS=help,ticket,listar
MERCADO_PAGO_ACCESS_TOKEN=
MERCADO_PAGO_PAYER_DOMAIN=pix.vg
PAYMENT_CONFIRMATION_WEBHOOK_URL=
WEBHOOK_PORT=3000
